* {
  margin: 0;
  padding: 0;
   box-sizing: border-box; 
   font-family: 'Rajdhani', sans-serif;
 }
 .clearfix:after{
  content: "";
  display: table;
  clear: both;
}


.login-part{
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, rgb(2, 2, 83) ,white);
  float: left;
  position: relative;
  padding-left: 350px;
  padding-top:796px ;
  
}

.login-part img{
  position: absolute;
  top: 150px;
  left: 300px;
  border-radius: 100%;
  filter:grayscale(100%) ;
}
.cis-text{
  position:absolute;
  top: 120px;
  left:475px ;
  font-size: 130px;
  font-family:'Orbitron', sans-serif;;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0c0e8a, 0 0 40px #1904d4, 0 0 50px #4c14e4, 0 0 60px #075af3, 0 0 70px #0804eb;
  }
  
  to {
    text-shadow: 0 0 20px rgb(9, 204, 238), 0 0 30px #0a8ce4, 0 0 40px #0b57e6, 0 0 50px #0587d3, 0 0 60px #2805eb, 0 0 70px #320ae2, 0 0 80px #ff4da6;
  }
}


.login{
  position:absolute;
  top: 300px;
  left: 450px;
  border-radius: 10%;
  background-color: rgba(240, 233, 233, 0.63);
  border:1px ;
  padding: 150px 150px 120px 120px;
  box-shadow: 8px 10px rgba(2, 2, 83, 0.781);

}

.login-text{
  position:absolute;
  left: 100px;
  top: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-size: xx-large;
}
.username{
  position: absolute;
  margin-top: 10px;
  left: 20px;
  right: 50px;
  top: 45px;
  border-style: ridge ;
  border-radius: 10px;
  border-color: black;
  padding: 10px 90px 5px 5px;
  
}
.password{
  position: absolute;
  left: 20px;
  right: 50px;
  top: 120px;
  border-style: ridge ;
  border-radius: 10px;
  border-color: black;
  padding: 10px 90px 5px 5px;
  
}
.button {
  position: absolute;
  padding: 5px 25px;
  top: 200px;
  right: 10px;
  font-size: 15px;
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(22, 7, 233);
  background-color: #1588bd;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  animation: glow 1s ease-in-out infinite alternate;
}

<!-- not included in html
.right-part{
  position: relative;
  height: 800px;
  width:30% ;
  background-color: rgba(14, 194, 207, 0.856);
  float:left;
  padding-bottom: 800px;
  border-radius: 2%;

}

.logo img{
  border-radius: 100%;
  position: absolute;
  top: 20px;
  left: 50px;
  border: solid blue;
  
}

.contact{
  position: absolute;
  top: 350px;
  left: 5px;
  margin-left:2px ;
  margin-right:5px ;
  margin-top: ;
  margin-bottom: ;
  padding-left:20px ;
  padding-right: ;
  padding-top:50px ;
  padding-bottom: 210px;
  background-color: aqua;
  border-color: blue;
  border-radius: 8%;

  font-family:'Rajdhani', sans-serif;
  font-size: larger;
  color: blue;
  
}