* {
  margin: 0;
  padding: 0;
   box-sizing: border-box; 
 }
 .clearfix:after{
  content: "";
  display: table;
  clear: both;
}


.login-part{
  width: 70%;
  height: auto;
  background-color: aqua;
  float: left;
  position: relative;
  padding-left: 350px;
  padding-top:796px ;
  
}

.login{
  position:absolute;
  top: 300px;
  left: 270px;
  border-radius: 10%;
  background-color: rgba(51, 24, 173, 0.507);
  border:1px ;
  padding: 150px 150px 120px 120px;
  box-shadow: 8px 10px rgb(14, 140, 156);

}

.login-text{
  position:absolute;
  left: 100px;
  top: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-size: xx-large;
}
.username{
  position: absolute;
  margin-top: 10px;
  left: 20px;
  right: 50px;
  top: 45px;
  border-style: ridge ;
  border-radius: 10px;
  padding: 10px 90px 5px 5px;
}
.password{
  position: absolute;
  left: 20px;
  right: 50px;
  top: 120px;
  border-style: ridge ;
  border-radius: 10px;
  padding: 10px 90px 5px 5px;
  
}
.login-button{
  position: absolute;
  margin-left: 100px;
  left: 80px;
  right: 200px;
  top: 220px;
  font-family: 'Rajdhani', sans-serif;
  padding: 5px 40px 5px 40px;
  text-align:center;
  border-style:ridge blue;
  border-radius: 10%;
  background-color: rgba(0, 0, 255, 0.294);
}

.right-part{
  position: relative;
  height: 800px;
  width:30% ;
  background-color: rgba(14, 194, 207, 0.856);
  float:left;
  padding-bottom: 800px;
  border-radius: 2%;

}

.logo img{
  border-radius: 100%;
  position: absolute;
  top: 20px;
  left: 50px;
  border: solid blue;
  
}

.contact{
  position: absolute;
  top: 350px;
  left: 5px;
  margin-left:2px ;
  margin-right:5px ;
  margin-top: ;
  margin-bottom: ;
  padding-left:20px ;
  padding-right: ;
  padding-top:50px ;
  padding-bottom: 210px;
  background-color: aqua;
  border-color: blue;
  border-radius: 8%;

  font-family:'Rajdhani', sans-serif;
  font-size: larger;
  color: blue;
  
}